body{
    display: grid;
    grid-template-columns: 0.75fr 0.25fr; 
    grid-auto-rows: .2fr .5fr .2fr;
    grid-template-areas: "header header" "mappanel mappanel" "sidebar sidebar";
    background-image: url(https://t3.ftcdn.net/jpg/02/53/59/18/360_F_253591845_DjZi5bCf6jQv94Qlvf0MWZ3oGu3Ludzy.jpg);
    background-attachment: fixed;
    background-size: cover;
    ;
}

header{
    grid-area: header;
}

#map{
    height:90vh;
    grid-area: mappanel;
} 

#contents{
    grid-area: sidebar;
    display: grid;
}

/* fix for survey to fit in the iframe */
#survey {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 0%;
    position: relative;
}

#survey iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}